# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
.Python
*.egg
.DS_Store
MANIFEST
*.manifest
*.spec

# IDE
.idea/
.vscode
.idea
lsp.json

# Flask stuff:
instance/
.webassets-cache

# PyBuilder
.pybuilder/
target/

# Celery stuff
/celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# env files
.venv
.env*
!.env.example

# local test
*.db
*.pem
*.log
logs/*
*.log.*


# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache
*.cover
.hypothesis/
